img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
hr{
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 5px;
    border-color: grey;
}
body{
    background-color: lightsteelblue;
}
h1{
    color: midnightblue
}
